* {
    box-sizing: border-box;
}

body {
    font-family: IRANSans;
    overflow-x: hidden;
    background-color: #772036;
    color: rgba(255,255,255,.85);
    transition: all .3s;

    @media (min-width: 576px) {
        background-size: 100% 100%;
        background-attachment: fixed;
        background-position: center;
        background-image: url(../../../images/bg.jpg);
    }
}

.aside-toggled {
    overflow: hidden;
}

.seperator {
    font-family: Mitra;
    font-weight: bold;
    font-size: 16px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.flex-align-center {
    align-items: center;
}

#chartdiv {
    width: 100%;
    height: 370px;
    margin: 10px 0;

    @media (max-width:767px) {
        height: 200px;
    }
}

#chartdivClock {
    width: 100%;
    height: 180px;
    margin: 10px 0;

    @media (max-width:767px) {
        display: none;
    }
}
a[href="http://www.amcharts.com"] {
    display: none !important;
}


hr {
    border-color:rgba(255,255,255,0.2);
}

.photo {
    .photo__item {
        overflow: hidden;
        margin-bottom: 15px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                transition: all .3s;
                z-index: 1;
                opacity: 0;
            }

            &:after {
                position: absolute;
                content: '\f00e';
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #fff !important;
                transition: all .3s;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                -webkit-transform: scale(2);
                transform: scale(2);
                font-size: 20px;
            }

            &:hover {
                &:before,&:after {
                    opacity: 1;
                }

                &:after {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }
}

.fancybox-lock .fancybox-overlay {
    overflow: hidden !important;
    overflow-y: hidden !important;
}

.fancybox-title-float-wrap .child {
    font-family: IRANSans !important;
    font-size: 11px;
    font-weight: 500 !important;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #fff;
    font-size: 13px;
    text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dea4a4;
    font-size: 12px;
    text-align: center;
    vertical-align: middle !important;
}

.action {
    color: #fff !important;
    font-size: 18px;
    text-decoration: none !important;
    cursor: pointer;
    transition: all 0.3s;

    i {
        position: relative;
        top: 3px;
    }

    &:hover {
        color: #dea4a4 !important;
    }
}

.table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.04);
}

.pagination  {

    text-align: center;
    width: 100%;
    direction: ltr;

    .pagination__btn {
        background-color: rgba(255,255,255,.08);
        display: inline-block;
        color: rgba(255,255,255,.85);
        vertical-align: top;
        border-radius: 50%;
        margin: 0 1px 0 2px;
        font-size: 11px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 2.5rem;
        text-align: center;
        transition: background-color .3s,color .3s;
        outline: 0 !important;
        border: none !important;
        text-decoration: none !important;
        padding-top: 4px;

        i {
            font-size: 20px;
            font-size: 20px;
            position: relative;
            top: 1px;
        }

        &:hover  {
            background-color: rgba(255,255,255,.2);
            color: rgba(255,255,255,.85);
        }

        &.active {
            background-color: #fff;
            color: #000;
        }

        &.disabled {
            opacity: .6;
            cursor: not-allowed;
            background-color: rgba(255,255,255,.08) !important;
        }
    }
}

.font-size-12 {
    font-size: 12px;
}

.margin-top-20 {
    margin-top: 20px;
}

.dataTables-select {
    
    position: relative;

    &:after {
        content: '\f0c9';
        position: absolute;
        top: 5px;
        right: 0;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #d1d1d1;
        font-size: 18px;
        padding-right: 0.5em;
    }

    select.form-control {
        padding-right: 30px;
    }
}

.from-txt-search {
    position: relative;
    input.form-control {
      padding-right: 20px;
    }

    &:after {
        content: '\f002';
        position: absolute;
        top: 5px;
        right: 0;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #d1d1d1;
        font-size: 14px;
        transform: rotate(90deg);
    }
}

.modal-title , .modal-body {
    color: #444;
}

[data-dismiss="modal"] {
    opacity: 0.8;
    color: #dc3545;
    outline: 0 !important;
    box-shadow: 0 !important;

    &:hover {
        color: #dc3545;
    }
}

.m-t-15 {
    margin-top: 15px;
}

.form-control {
    box-shadow: none !important;
    border-color: #ccc !important;

    &:focus {
        box-shadow: 0px 0px 2px #199AB0 !important;
        border-color: #199AB0 !important;
    }
}

.modal-body {
    max-height: 280px;
    overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
}
 
.modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.modal-body::-webkit-scrollbar-thumb {
    background-color: #772036;
    border-radius: 10px;
}


.swal2-popup {
    width: 400px !important;
    padding: 15px !important;

     .swal2-title {
         font-size: 30px !important;
     }
     .swal2-content {
        font-size: 20px !important;
     }
     .swal2-styled.swal2-confirm , .swal2-styled.swal2-cancel {
        font-size: 16px !important;
     }
}