* {
    box-sizing: border-box;
}

body {
    font-family: IRANSans;
    overflow-x: hidden;
    background-color: #772036;
    color: rgba(255,255,255,.85);
    transition: all .3s;

    @media (min-width: 576px) {
        background-size: 100% 100%;
        background-attachment: fixed;
        background-position: center;
        background-image: url(../../../images/bg.jpg);
    }
}

.aside-toggled {
    overflow: hidden;
}

.seperator {
    font-family: Mitra;
    font-weight: bold;
    font-size: 16px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.flex-align-center {
    align-items: center;
}

#chartdiv {
    width: 100%;
    height: 370px;
    margin: 10px 0;

    @media (max-width:767px) {
        height: 200px;
    }
}

#chartdivClock {
    width: 100%;
    height: 180px;
    margin: 10px 0;

    @media (max-width:767px) {
        display: none;
    }
}
a[href="http://www.amcharts.com"] {
    display: none !important;
}


hr {
    border-color:rgba(255,255,255,0.2);
}

.grid {
    .grid__item {
        overflow: hidden;
        margin-bottom: 10px;
        padding: 0px 4px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                transition: all .3s;
                z-index: 1;
                opacity: 0;
            }

            &:after {
                position: absolute;
                content: '\f00e';
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #fff !important;
                transition: all .3s;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                -webkit-transform: scale(2);
                transform: scale(2);
                font-size: 20px;
            }

            &:hover {
                &:before,&:after {
                    opacity: 1;
                }

                &:after {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }
}

.fancybox-lock .fancybox-overlay {
    overflow: hidden !important;
    overflow-y: hidden !important;
}

.fancybox-title-float-wrap .child {
    font-family: IRANSans !important;
    font-size: 11px;
    font-weight: 500 !important;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #fff;
    font-size: 13px;
    text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dea4a4;
    font-size: 12px;
    text-align: center;
    vertical-align: middle !important;
}

.action {
    color: #fff !important;
    font-size: 18px;
    text-decoration: none !important;
    cursor: pointer;
    transition: all 0.3s;

    i {
        position: relative;
        top: 3px;
    }

    &:hover {
        color: #dea4a4 !important;
    }
}

.table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.04);
}