.form-group {
    position: relative;

    .form-control {
        padding-left: 1px;
        padding-right: 1px;
        resize: none;
        -webkit-appearance: none;
        width: 100%;
        padding: .6rem 1rem;
        font-size: 1rem;
        line-height: 1.25;
        color: rgba(255, 255, 255, .85);
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(255, 255, 255, .2);
        border-width: 0 0 1px;
        border-radius: 0;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        background-color: transparent;
        box-shadow: none !important;

        &:focus {
            color: rgba(255, 255, 255, .85);
            border-color: rgba(255, 255, 255, .4);
            outline: 0;
        }

        &:focus~.form-group__bar:before {
            width: 100%;
        }
    }

    .form-group__bar {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 0;
            bottom: 0;
            transition: all .4s;
            transition-timing-function: ease;
            background-color: #fff;
            right: 0;
        }
    }

    .form-control-sm {
        padding: .25rem .55rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: 0;
    }

    .form-control-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0;
    }

    .select {

        &:before {
            content: "";
            position: absolute;
            pointer-events: none;
            z-index: 1;
            left: 1px;
            bottom: 5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 8px 8px 0px;
            border-color: transparent transparent #d1d1d1;
        }

        .form-control {
            color: #ccc !important;
        }

    }
}

.custom-control {
    margin-bottom: 0;
    min-height: 1.5rem;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    
    position: relative;

    .custom-control-input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked~.custom-control-indicator:before {
            opacity: 1;
        }
    }

    .custom-control-indicator {
        border-radius: 2px;
        border: 1px solid rgba(255, 255, 255, .6);
        color: #fff;
        top: .03rem;
        transition: border .2s;
        position: absolute;
        right: 0;
        display: block;
        width: 13px;
        height: 13px;
        pointer-events: none;
        user-select: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;

        &:before {
            content: '\f00c';
            background-color: #fff;
            font-family: FontAwesome;
            color: #131313;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: background-color .2s,opacity .2s;
            line-height: 1.2rem;
            text-align: center;
            font-size: .9rem;
            font-weight: 700;
        }   
    }

    .custom-control-description {
        margin-right: 20px;
        font-weight: 400;
        font-size: 12px;
    }
}

.custom-checkbox-inline {
    display: inline-flex !important;
    margin-left: 15px;
}

.custom-radio  {
    .custom-control-indicator {
        border-radius: 50%;
    
        &:before {
            border-radius: 50%;
        }
    }

    .custom-control-input:checked~.custom-control-indicator:before {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .custom-control-indicator:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 2px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: rgba(255,255,255,.9);
        z-index: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s,-webkit-transform .2s;
    }

    .custom-control-indicator {
        width: 15px;
        height: 15px;
    }
}

.custome-radio-inline {
    display: inline-flex !important;
    margin-left: 15px;
}
