.header {
    height: 72px;
    color: #fff;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    transition: background-color 1s, box-shadow 1s;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    justify-content: space-between;

    .header__menu {

        display: none;

        @media (max-width: 1199px) {
            display: block;
        }

        i {
            font-size: 30px;
            cursor: pointer;
            transition: all ease 0.3s;
            opacity: 0;

            @media (max-width: 1199px) {
                opacity: 1;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .header__title {
        font-weight: 500;
        font-size: 16px;
        margin-right: 10px;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .header__form {
        margin-right: 20px;

        @media (max-width: 767px) {
            margin-right: 0px;
        }

        .header__form__txt {
            background-color: rgba(255, 255, 255, .08);
            color: rgba(255, 255, 255, .85);
            border: 0;
            border-radius: 2px;
            outline: 0 !important;
            box-shadow: none !important;
            transition: background-color .3s, color .3s;


            &:focus,
            &:focus+.input-group-addon {
                background-color: rgba(0, 0, 0, .2);
                color: rgba(255, 255, 255, .85);
            }
        }

        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(255, 255, 255, .85);
        }

        .input-group-addon {
            background-color: rgba(255, 255, 255, .08);
            color: rgba(255, 255, 255, .85);
            border: 0;
            transition: background-color .3s, color .3s;

        }
    }

    .header__notify {
        flex-grow: 3;
        display: flex;
        justify-content: flex-end;

        .header__notify__item {

            margin-right: 10px;
            color: #fff;
            text-decoration: none;
            position: relative;

            @media (max-width: 767px) {
                margin-right: 3px;
            }

            i {
                font-size: 30px;
            }

            .header__notify__item__badge {
                position: absolute;
                top: -5px;
                right: -10px;
                background-color: #9E422D;
                
            }
        }
    }
}

.header--scrolled {
    background-color: rgba(0, 0, 0, .96);
}