.header {
    height: 72px;
    color: #fff;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    transition: background-color 1s,box-shadow 1s;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;

    .header__menu {
        font-size: 30px;
        cursor: pointer;
        transition: all ease 0.3s;
        opacity: 0;

        @media (max-width: 1199px) {
           opacity: 1;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}