section.content {
    padding: 103px 278px 0 26px;

    @media (max-width: 1199px) {
        padding: 103px 30px 0;
    }

    .content__inner {
        margin: auto;

        .content__inner__title {
            color: #fff;
            margin-bottom: 20px;
            font-size: 13px;
            font-weight: 500;
        }

        .content__inner__desc {
            color: #fff;
            background-color: rgba(0,0,0,.2);
            margin-bottom: 30px;
            box-shadow: 0 1px 5px rgba(0,0,0,.1);
            padding: 15px;
            font-size: 12px;
            font-weight: 500;
        }

        .content__inner__card {
            margin-bottom: 2.3rem;
            box-shadow: 0 1px 5px rgba(0,0,0,.1);
            position: relative;
            min-width: 0;
            word-wrap: break-word;
            background-color: rgba(0,0,0,.2);
            background-clip: border-box;
            border: 1px solid transparent;
            border-radius: 2px;
            padding: 15px;
           
           
            .content__inner__card__count {
                margin-right: 10px;
                text-align: center;
                flex-grow: 2;
            }

            .content__inner__card__title {
                color: #fff;
                font-weight: 500;
                display: block;
                font-size: 13px;
            }

            .content__inner__card__desc {
                color: #eee;
                font-weight: 400;
                display: block;
                font-size: 13px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
        }
    }

}